---
interface Props {
  id: string;
  title: string;
  caption: string;
}

const { id, title, caption } = Astro.props;
---

<figure class="arch-diagram-figure" id={id}>
  <figcaption>
    <h3>{title}</h3>
    <p>{caption}</p>
  </figcaption>
  <div class="arch-diagram-canvas">
    <slot />
  </div>
</figure>
